.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

body {
    background-color: #4d4d4d;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  /* .buttonStyle {
    font-size: calc(10px + 2vmin);
    color: white;
    background: #329239;
    padding: .5em;
    border-radius: 6px;
    border: none;
  }
  
  .buttonStyle:hover {
    color: white;
    background: #1f6024;
  }
  
  .App-header {
    font-face: "mono";
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */